.amount::before {
  content: attr(data-amount);
  font-size: 13px;
  opacity: 0;
}

.amount:hover::before {
  opacity: 1;
  color: white;
  position: relative;
  top: -30px;
  right: 6px;
  background-color: hsl(25, 47%, 15%);
  padding: 5px;
  border-radius: 5px;
  align-items: center;
}
